.header-container {
  height: 60vh;
  background-image: url("https://www.scholenopdekaart.nl/Images/header.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  padding-top: 20px;
  font-family: "Proxima Nova", Arial, sans-serif;
  /* margin-bottom: 30px; */
  margin-left: 35;
  font-size: 30px;
  color: #fff;
  z-index: 1;
  max-width: 80%;
}

.layer {
  background-color: #312937b3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
