.search-title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #fff;
  padding-top: 1em;
  padding-left: 1em;
}

.search-btn {
  background-color: #93608d;
  /* position: relative; */
  top: 0;
  right: 0;
  z-index: 1001;
  height: 50px;
  width: 60px; 
  font-size: 22px;
  /* line-height: 50px; */
  /* padding: 10; */
  /* display: inline-block; */
  font-weight: 600;
  color: #fff !important;
  box-shadow: none !important;
  border-radius: 0%;
}

.search-input {
  height: 50px;
  /* padding: 10; */
  /* margin: 10; */
  font-size: 16px;
  /* padding-left: 1em;
  margin-left: 1em; */
}

.location-btn {
  height: 50px;
  width: 80%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1001;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  background: #e0d2de;
  color: #641c5c !important;
  /* margin-left: 1em;*/
  margin-top: 0.5em; 
}

.search-bar {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #641c5c;
  /* display: block; */
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 930px;
  padding-left: 10px;
  padding-bottom: 30px;
  width: 80%;
  position: relative;
  /* position: absolute; */
  top: 70%;
  left: 10%;
}
