.search-form{
    /* clear: both; */
    position: relative;
    box-sizing: border-box;
    max-width: 930px;
    margin: 0 auto;
    padding: 40px 50px;
    background-color: #641c5c;
    color: #fff;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    height: 50px;
    width: 140px;
    font-size: 22px;
    line-height: 50px;
    padding: 0;
    background-color: #93608d;
}

.btn-search {
    border: 0;
    font-weight: 600;
    color: #fff !important;
    box-shadow: none !important;
    -webkit-transition: background-color 0.15s;
    -moz-transition: background-color 0.15s;
    transition: background-color 0.15s;
    display: inline;
}

.btn-location {
    border: 2px solid #b28eae;
    background-color: transparent;
    color: #fff !important;
    color: rgba(255,255,255,0.6) !important;
}